<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>About Us</h2>
            {% set heading = content.field_about_heading|render|striptags|trim|slice(0, 10) %}
            {% set heading_span = content.field_about_heading|render|striptags|trim|slice(10, 20) %}
            <p> {{ heading }} <span>{{ heading_span }}</span></p>
        </div>

        <div class="row gy-4">
            {% set about_image =  content.field_about_image %}
            <div class="col-lg-7 position-relative about-img" style="background-image: url('/{{ base_path ~ directory }}/images/about.jpg');"
                data-aos="fade-up" data-aos-delay="150">
                <div class="call-us position-absolute">
                    <h4>Book a Table</h4>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        {{ content.field_about_title | raw }}
                    </p>
                    <ul>
                        {% if content.field_about_bullet_points and content.field_about_bullet_points|length > 0%}
                            {{ content.field_about_bullet_points }}
                        {% endif %}
                    </ul>
                    <p>
                        {{ content.field_about_description | raw }}
                    </p>

                    <div class="position-relative mt-4">
                        {{ content.field_about_image }}
                        {% set url = content.field_about_video_link.0['#url'] ?? '' %}
                        <a href="{{ url }}" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->